.user__photo {
  display: block;
  grid-area: photo;
  max-width: 120px;
  border-radius: 50%;
  margin: 0 auto;
}

@media screen and (min-width: 1000px) {
  .user__photo {
    margin: 0;
    margin-right: 30px;
  }
}