.user__edit {
  display: inline-block;
  background: transparent;
  padding: 0;
  margin: 0;
  border: none;
  position: absolute;
  right: -28px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

@media screen and (min-width: 1000px) {
  .user__edit {
    right: -43px;
    transform: translateY(-18%);
  }
}